@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

#container {
  width: 375px;
  height: 812px;

  margin: 0 auto;
  padding: 20px;
}

#iconSetaEsquerda {
  width: 30px;
  height: auto;
  padding-right: 30px;
}
#iconAvatar {
  width: 90px;
  height: auto;
  padding-left: 15px;
}

#perfil {
  display: flex;
  align-items: center;
  gap: 15px;
}

#avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#info h3 {
  margin: 0;
}
#estrelas {
  color: gold;
  font-size: 18px;
}

#separacao {
  height: 25%;
  width: auto;
}
#separacaoMenor {
  height: 5%;
  width: auto;
}

#botaoDetalhes {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.detalhes {
  background-color: #eaeaea;
  color: #000;
}
#botaoSair {
  width: 100%;
  color: white;
}
