@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

/* Config para tablet com largura de até 1024px */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
    padding: 30px;
  }

  #botaoContinuar {
    width: 40vh;
    height: auto;
  }
}

/* Config para celulares com largura de até 768px */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 20px;
  }
  
  #botaoContinuar {
    width: 40vh;
    height: auto;
  }
}

/* Config para celulares muito pequenos com largura de até 480px */
@media (max-width: 480px) {
  body {
    font-size: 13px;
    padding: 15px;
  }
  
  #botaoContinuar {
    width: 40vh;
    height: auto;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#imgLogo {
  width: 35vh;
  height: auto;
}

h1 {
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
  font-size: 300%;
}

.separacao {
  padding: 2vh;
}

#botaoAleatorio1 {
  background: none;
  border: none;
  cursor: pointer;
}

#botaoAleatorio2 {
  background: none;
  border: none;
  cursor: pointer;
}

#imgDado1 {
  width: 32px;
  height: auto;
}
#imgDado2 {
  width: 32px;
  height: auto;
}

#botaoContinuar {
  background-color: #6abb43;
  color: white;
  padding: 10px 20px; /* Tamanho em volta do botão */
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none; /* tira o underline do link */
  cursor: pointer;
}

.separacaoMenor {
  padding: 2vh;
}