* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
    width: 375px;
    height: 812px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    text-align: center;
    padding-top: 5%;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.avatar-selecionado {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  background-color: #d9d9d9;
  background-size: cover;
  background-position: center;
}

.grade-avatares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
  margin-bottom: 30px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

.avatar:hover {
  transform: scale(1.1);
}

.botoes {
  display: flex;
  justify-content: center;
}

.botao-continuar {
  display: block;
  text-align: center;
  background-color: #679b67;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  margin: 20px auto;
  width: fit-content;
  cursor: pointer;
}


.btn-continuar:hover {
  background-color: #679b67;
}
