@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: white;
  padding: 40px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
    width: 375px;
    height: 812px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    text-align: center;
    padding-top: 5%;
}

h1 {
  font-size: 36x;
  font-weight: 600;
  margin-bottom: 30px;
  color: #000;
}

.descricao {
  font-size: 24px;
  color: #000;
  margin-bottom: 50px;
  line-height: 1.6;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-ativar {
  background-color: #679b67;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-desativar {
  background-color: #cfd3cb;
  color: black;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.info {
  font-size: 12px;
  color: #333;
  margin-top: 4px;
}
