/* Reset básico */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
    width: 375px;
    height: 812px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    padding-top: 100px
    }

/* Logo */
.logo {
  width: 30vh;
  margin-bottom: 30px;
  padding-left: 8px;
}

/* Título */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Campos de entrada */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

.input-group i {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #777;
}

/* Esqueci a senha */
.forgot {
  text-align: right;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 25px;
  color: #555;
  cursor: pointer;
}

/* Botão Acessar */
.button {
  width: 100%;
  padding: 12px;
  background-color: #679b67;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
}

/* Ou */
.or {
  margin: 10px 0;
  color: #999;
  font-size: 12px;
}

/* Botão Google */
.google-button {
  width: 100%;
  padding: 10px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}

/* Cadastro */
.signup {
  font-size: 12px;
  color: #444;
}

.signup a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

